<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- block "title" . -}}
        {{ cond .IsHome .Site.Title (printf "%s - %s" .Title .Site.Params.title) }}
        {{- end -}}
    </title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ block "meta" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ end }}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}safari-pinned-tab.svg" color="#d64e2a">
    <meta name="msapplication-TileColor" content="#d64e2a">
    <meta name="theme-color" content="#ffffff">

    <link href="//fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    {{ $css := resources.Get "style/index.scss" | resources.ToCSS (dict "targetPath" "style.css" "outputStyle" "compressed") | resources.Fingerprint "sha512" }}
    <link href="{{ $css.Permalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}">

    {{ template "_internal/google_analytics.html" . }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous" defer></script>
    {{ $js := resources.Get "script/global.js" | resources.Minify }}
    <script src="{{ $js.Permalink }}" defer></script>
    {{ block "script" . }}{{ end }}
</head>
<body class="is-{{ .Kind }}-{{ .Type }}">
{{ block "body" . }}
<header id="header">
    <h1 class="title">
        <a href="{{ "/" | relURL }}" class="title-site is-grayscale">
            Today<span class="is-color-gold">PGH</span>
        </a>
        <span class="title-page">{{ .Title }}</span>
    </h1>
</header>
{{ block "main" . }}
<main class="layout">
    <aside class="layout-secondary is-shaded-top-left"></aside>
    <section class="layout-primary utl-pt1">
        <div class="content">
            {{ block "content" . }}
            {{ .Content }}
            {{ end }}
        </div>
    </section>
</main>
{{ end }}
{{ end }}
<footer id="footer">
    <div id="footer-about" class="layout">
        <aside class="layout-secondary">
            <div id="footer-bridge"></div>
        </aside>
        <section class="layout-primary">
            <div class="content utl-mt3">
                <p><em>To all educators, change makers, and dreamers…</em></p>
                <p>Thank you for being the thinkers of <a href="{{ .Site.BaseURL }}">TodayPGH</a>. Our hope is to share a collection of stories from educators around Pittsburgh to inspire future generations, lift up the profession, and build bridges of empathy. The project transcends school districts and grade levels, opening new windows into the field.</p>
                <p>Through storytelling, we hope to create mirrors to inspire reflection – connecting one another in support and love.</p>
                <p class="utl-mt1-5">
                    {{ partial "story/share.html" . }}
                </p>
                <p>
                    or <a href="{{ (.Site.GetPage "/spread-the-love").Permalink }}">spread the love</a> to your teachers.
                </p>
            </div>
        </section>
    </div>
    <div id="footer-copyright">
        {{ with .Site.Social -}}
        <ul class="social">
            {{ with .twitter -}}
            <li>
                <a class="social-icon" href="https://twitter.com/{{ . }}" rel="noopener" target="_blank" title="Follow on Twitter">{{ partial "social/twitter.html" . }}</a>
            </li>
            {{- end }}
            {{ with .facebook -}}
            <li>
                <a class="social-icon" href="https://www.facebook.com/{{ . }}" rel="noopener" target="_blank" title="Like Facebook page">{{ partial "social/facebook.html" . }}</a>
            </li>
            {{ end }}
            {{ with .instagram -}}
            <li>
                <a class="social-icon" href="https://www.instagram.com/{{ . }}" rel="noopener" target="_blank" title="Follow on Instagram">{{ partial "social/instagram.html" . }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        <p>
            <a href="https://github.com/namoscato/one-day-today" target="_blank">Made with ♥</a> in Pittsburgh.<br>&nbsp;© {{ now.Format "2006" }} <a href="{{ printf "https://www.onedaypgh.org?%s" (querify "utm_source" "todaypgh") }}" target="_blank">One Day Pittsburgh</a>.
        </p>
    </div>
</footer>
</body>
</html>
