{{ define "main" }}
<main class="layout">
    <aside class="layout-secondary is-shaded-top-left"></aside>
    <section class="layout-primary">
        <div class="content">
            <ul class="school-list">
                {{- range $index, $school := .Pages.ByTitle -}}
                <li>
                    {{- if gt $index 0 }}&nbsp;&bull; {{ end -}}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{- print "" -}}
                </li>
                {{- end -}}
            </ul>
        </div>
    </section>
</main>
{{ end }}
