@import 'variable';

.button {
    background-color: rgba($color-white, 0.7);
    border: 1px solid $color-navy;
    border-radius: $border-radius;
    box-shadow: 1px 1px 0 1px $color-navy;
    color: $color-navy;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    margin: 0 1px 1px 0;
    padding: 0.6em 0.7em 0.7em;
    text-decoration: none;
    transition: background-color $transition-duration;

    &:hover,
    &:focus {
        background-color: $color-white;
    }

    &:active {
        box-shadow: none;
        margin: 1px 0 0 1px;
    }
}
