@import 'variable';

// inspired by https://milligram.io

input {
    margin-bottom: 1.2rem;
}

input[type='email'],
input[type='text'] {
    appearance: none; // Removes awkward default styles on some inputs for iOS
    background-color: transparent;
    border: 1px solid $color-lightgray;
    border-radius: $border-radius;
    box-shadow: none;
    box-sizing: border-box;
    max-width: 25rem;
    padding: 0.6rem; // The .6rem vertically centers text on FF, ignored by Webkit
    width: 100%;

    &:focus {
        border-color: $color-navy;
        outline: 0;
    }
}

button[type='submit'] {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.label-inline {
    display: inline-block;
    font-weight: normal;
    margin-left: 0.5rem;
}
