.story-figure {
    margin: 2rem auto 0;
    max-width: 35rem;
    position: relative;

    > img {
        width: 100%;
    }
}

@media (min-width: $breakpoint-md) {
    .story-figure-courage {
        margin: -3rem 0 -1rem -23rem;
    }

    .story-figure-innovation {
        margin: -10rem 0 -3rem -24rem;
    }

    .story-figure-confidence {
        margin: -5rem 0 -5rem -24rem;
    }

    .story-figure-compassion {
        margin: -10rem 0 -1rem -24rem;
    }

    .story-figure-joy-learning {
        margin: -3rem 0 -1rem -22rem;
    }

    .story-figure-remember-why-started {
        margin: -5rem 0 -1rem -23rem;
    }

    .story-figure-embrace-the-journey {
        margin: -8rem 0 0 -20rem;
        max-width: 32rem;
    }

    .story-figure-children-dreams {
        margin: -5rem 0 -5rem -23rem;
    }

    .story-figure-inspire-others {
        margin: -3rem 0 0 -23rem;
    }
}
