$color-white: #fffbf2;
$color-black: #23252e;
$color-navy: #1f2d6b;
$color-gold: #ffc862;
$color-lightblue: #c3ebf7;
$color-gray-dark: #484a4f;
$color-gray: #62747f;
$color-gray-light: #e9e7e4;

$transition-duration: 0.3s;

$content-width: 43.75rem;

$border-radius: 0.3125rem;

$breakpoint-sm: 40rem;
$breakpoint-md: 67.625rem;
