@import 'button';
@import 'form';
@import 'variable';

html,
body {
    height: 100%;
}

body {
    background-color: $color-white;
    color: $color-black;
    font-family: 'Playfair Display', serif;

    &.is-home-page::before {
        content: normal;
    }
}

p {
    line-height: 1.8;
}

.utl-mt1 {
    margin-top: 1em !important;
}

.utl-mt1-5 {
    margin-top: 1.5em !important;
}

.utl-mt3 {
    margin-top: 3em !important;
}

.utl-pt1 {
    padding-top: 1em !important;
}

.utl-text-center {
    text-align: center;
}

.utl-display-none {
    display: none;
}

#body {
    margin: 0 auto;
    max-width: 130rem;
}

#header {
    border-bottom: 1px solid $color-gray-light;
    overflow: hidden;
    padding: 1rem 1rem 10rem;
    position: relative;

    &::before {
        background: url('img/bridge2.png') center top / 41.6875rem 12.84375rem no-repeat;
        bottom: -4.9rem;
        content: '';
        height: 12.84375rem;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 0;
    }
}

#header-story {
    overflow: hidden; // hide overflowing top right sun
    padding: 1rem 1rem 6rem;
    position: relative;

    &::before {
        background: url('img/bridge2.png') right top / 54.9748rem 16.9375rem no-repeat;
        bottom: 0;
        content: '';
        filter: grayscale(1);
        height: 10.5625rem;
        opacity: 0.6;
        position: absolute;
        right: 62%;
        width: 54.9748rem;
        z-index: 0;
    }

    &::after {
        background: url('img/sun.png') right top / 12.139rem 15rem no-repeat;
        content: '';
        height: 15rem;
        left: 70%;
        position: absolute;
        top: 0;
        width: 12.139rem;
        z-index: 0;
    }

    .layout-primary {
        position: relative;
        z-index: 1;
    }

    .layout-secondary {
        text-align: left;
    }

    .story-title {
        margin-top: 3em;
    }
}

#homepage-header {
    margin: 0 auto 1rem;
    max-width: $content-width;

    .logo {
        margin: 2rem 0 1rem;
    }
}

#stories {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
    }
}

#footer {
    background-color: $color-lightblue;
    margin-top: 11rem;
    padding: 4rem 0 0;
}

#footer-bridge {
    background: url('img/bridge2.png') center top / 41.6875rem 12.84375rem no-repeat;
    height: 12.84375rem;
    margin: -12rem auto 0;
    max-width: 100%;
    width: 41.6875rem;
}

#footer-copyright {
    color: $color-gray;
    padding: 2rem;
    text-align: center;

    > p {
        font-size: 0.9em;
        margin-top: 3rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: color $transition-duration;

        &:hover {
            color: darken($color-gray, 15);
        }
    }

    .social-icon > svg {
        fill: $color-gray;
    }
}

.layout-secondary {
    text-align: center;
}

.layout-secondary-content {
    margin: 0 2em;
}

.layout-secondary-content > p {
    color: $color-gray-dark;
}

.layout-cover {
    margin: 0 auto;
}

.layout-cover-primary {
    display: none;
}

.layout-cover-secondary .content {
    text-align: center;
}

.title {
    font-size: 3em;
    margin: 0;
    position: relative;
    z-index: 1;
}

.title-site {
    color: $color-navy;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    &.is-grayscale {
        color: #848484;

        .is-color-gold {
            color: #cbcbcb;
        }
    }

    .is-color-gold {
        color: $color-gold;
    }
}

a.title-site {
    &:hover,
    &:focus {
        color: $color-navy;

        .is-color-gold {
            color: $color-gold;
        }
    }
}

.title-page {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
}

.content {
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 1em;

    > h3 {
        font-size: 1.4em;
        margin-top: 2rem;
    }

    > h4 {
        color: $color-gray-dark;
        font-size: 1.2em;
        margin-top: 2em;
    }

    > p {
        font-size: 1.1em;
    }

    > blockquote {
        color: $color-gray-dark;
        font-size: 1.3em;
        font-weight: bold;
        margin: 2em 0;
        position: relative;
        text-align: center;

        &::before {
            background: url('img/quote.png') 0 0 / 2.0625rem 1.384rem no-repeat;
            filter: grayscale(1);
            height: 1.384rem;
            left: -2.7rem;
            position: absolute;
            top: 0;
            width: 2.0625rem;
        }
    }

    a:not(.button):not(.social-icon) {
        border-bottom: 1px solid rgba($color-black, 0.7);
        color: inherit;
        text-decoration: none;
        transition: opacity $transition-duration;

        &:hover {
            opacity: 0.8;
        }
    }
}

.content-spacer {
    height: 1rem;
}

.content-video {
    margin-top: 2em;
    padding-top: 56%;
    position: relative;
    width: 100%;

    > iframe {
        border: 0;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.icon {
    font-family: sans-serif;
}

.social {
    font-size: 1.4em;
    list-style-type: none;
    margin: 0 -0.5em;
    padding: 0;

    > li {
        display: inline-block;
        margin: 0 0.6em;
    }
}

.social-icon {
    display: inline-block;

    > svg {
        fill: #919191;
        height: 1.4em;
        pointer-events: none;
        transition: fill $transition-duration;
        width: 1.4em;

        &.is-scaled {
            font-size: 1.25em;
            margin: -0.15em 0;
        }

        &.globe {
            margin-left: -0.2em;
            margin-right: -0.2em;
        }
    }
}

.social-icon:hover > svg {
    fill: $color-gray-dark !important;

    &.twitter {
        fill: #1da1f2 !important;
    }

    &.instagram {
        fill: #e4405f !important;
    }

    &.facebook {
        fill: #1877f2 !important;
    }

    &.linkedin {
        fill: #0077b5 !important;
    }
}

.story.is-featured {
    display: none;
    margin-bottom: 2rem;

    .story-image {
        height: 29em;
    }
}

a.story {
    color: inherit;
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
        .story-image {
            filter: brightness(1.09);
        }

        .story-title {
            color: $color-navy;
        }
    }
}

.story.is-summary {
    .story-image {
        height: 20em;
    }

    .story-title {
        margin-top: 1em;

        > h1 {
            font-size: 1.5em;
        }
    }
}

.story-image {
    background-position: center;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
    transition: filter $transition-duration;

    &.is-cover {
        height: 80%;
        max-height: 60rem;
        min-height: 30rem;
    }
}

.story-title {
    margin-top: 2em;
    transition: color $transition-duration;

    > h1 {
        line-height: 1.5;
        margin: 0;
    }

    > h2 {
        background: url('img/line.png') left bottom / 12.5rem 2.992rem no-repeat;
        color: $color-navy;
        font-family: 'Oswald', sans-serif;
        font-size: 2.5em;
        font-weight: 500;
        margin: 0 0 0.16em 1rem;
        padding: 0 0 1.7rem 2rem;
        position: relative;
        text-transform: uppercase;

        &::before {
            background: url('img/quote.png') 0 0 / 2.375rem 1.625rem no-repeat;
            content: '';
            height: 1.625rem;
            left: -0.9375rem;
            position: absolute;
            top: -0.0625rem;
            width: 2.375rem;
        }
    }

    > h3 {
        font-weight: normal;
    }
}

.story-meta {
    color: $color-gray-dark;
    line-height: 1.8;
}

.story-meta-list,
.story-meta-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.story-meta-social {
    margin-top: 1.5rem;

    > li {
        display: inline-block;
        margin-left: 0.9em;
    }

    .social-icon {
        font-size: 1.1em;
    }
}

.story-meta-posted {
    font-size: 0.9em;
    font-style: italic;
    margin: 1.5em 0 0;
}

.story-social {
    margin: 2.5rem 0 0;
    text-align: center;
}

@media (min-width: 40rem) {
    #homepage-header {
        align-items: center;
        display: flex;
        margin-bottom: 0;
        text-align: left;

        .logo {
            margin-right: 2rem;
        }
    }

    #header-story::after {
        background-size: 15.625em 19.308em;
        height: 19.308em;
        left: 77%;
        width: 15.625em;
    }

    #footer-copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;

        > p {
            margin: 0;

            > br {
                display: none;
            }
        }

        .social {
            font-size: 1em;
        }
    }
}

@media (min-width: 48rem) {
    #homepage-header .logo {
        margin-bottom: 2.5rem;
    }

    .story.is-featured {
        display: block;
    }

    .story-title > h2 {
        margin-left: -2rem;
    }

    #stories {
        margin: 1em;

        > li {
            width: 50%;
        }
    }

    #stories.is-homepage > li:first-child {
        display: none;
    }

    .content > blockquote {
        margin-left: 2em;
        text-align: left;

        &::before {
            content: '';
        }
    }
}

@media (min-width: 67.625rem) {
    #header {
        padding: 3rem 2rem;

        &::before {
            background-position-x: right;
            background-size: 54.9748rem 16.9375rem;
            bottom: -6.375rem;
            height: 16.9375rem;
            transform: scaleX(-1);
            width: 35rem;
        }
    }

    #header-story {
        &::before {
            transform: none;
        }

        &::after {
            left: 85%;
        }

        .story-title {
            margin-top: 2em;
        }
    }

    #homepage-header {
        display: block;
        text-align: right;

        .logo {
            margin: 3rem 0 1rem;
        }
    }

    #footer-bridge {
        max-width: none;
        position: absolute;
        right: -16rem;
    }

    .layout {
        display: flex;
    }

    .layout-primary {
        box-sizing: border-box;
        flex: 2;
    }

    .layout-secondary {
        flex: 1;
        position: relative;
    }

    .layout-secondary-content {
        float: right;
        margin-right: 3em;
        width: 18.5em;
    }

    .layout-secondary.is-align-right {
        text-align: right;
    }

    .story-image.is-cover {
        display: none;
    }

    .layout-cover {
        display: flex;
        height: 80%;
        max-height: 60rem;
        min-height: 30rem;
    }

    .layout-cover-primary,
    .layout-cover-primary-content {
        height: 100%;
    }

    .layout-cover-primary {
        box-sizing: border-box;
        display: block;
        flex: 2;
    }

    .layout-cover-primary-content {
        margin-left: -2rem;
    }

    .layout-cover-secondary {
        background: linear-gradient(180deg, #faf7f0 0%, $color-white 70%);
        border-top: 1px solid $color-gray-light;
        flex: 1;
        position: relative;

        .content {
            box-sizing: border-box;
            margin-right: 2rem;
            padding: 0 2rem;
            position: absolute;
            right: 0;
            text-align: right;
        }
    }

    .is-shaded-top-left::before {
        background: url('img/bridge2.png') right top / 69.4792rem 21.40625rem no-repeat;
        content: '';
        filter: grayscale(1);
        height: 9.90625rem;
        left: 0;
        opacity: 0.6;
        position: absolute;
        top: 0;
        transform: scaleY(-1);
        width: 19.1667rem;
    }

    .content {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}

@media (min-width: 85rem) {
    #header-story::after {
        left: auto;
        right: 0;
    }

    #stories > li {
        width: 33.33333%;
    }
}
