{{ define "script" }}
{{ $js := resources.Get "script/spread/share.js" | resources.Minify }}
<script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}

{{ define "main" }}
<main class="layout">
    <aside class="layout-secondary is-shaded-top-left"></aside>
    <section class="layout-primary utl-pt1">
        <div class="content">
            {{ .Content }}
        </div>
    </section>
</main>
<aside id="body">
    <ul id="stories">
        {{- range first 3 (where .Site.RegularPages "Type" "story") -}}
        <li>
            {{ .Render "summary" }}
        </li>
        {{ end -}}
    </ul>
    <div class="utl-text-center">
        <a class="button" href="{{ (.Site.GetPage "/story").RelPermalink }}">
            Read more stories
            <span class="icon">↓</span>
        </a>
    </div>
</aside>
{{ end }}
