{{ define "body" }}
<main id="body">
    <div class="layout">
        <aside class="layout-secondary is-align-right">
            <div class="layout-secondary-content">
                <div id="homepage-header">
                    <img alt="TodayPGH Logo" class="logo" src="{{ .Site.BaseURL }}img/homepage-logo.png?v2" width="262" height="184">
                    <p>{{ $.Site.Params.description }}</p>
                </div>
            </div>
        </aside>
        <section class="layout-primary">
            {{- with index (where .Site.RegularPages "Type" "story") 0 }}
            {{ .Render "featured" }}
            {{ end -}}
        </section>
    </div>
    {{- $stories := where .Site.RegularPages "Type" "story" }}
    <ul id="stories" class="is-homepage">
        {{- range first 7 $stories -}}
        <li>
            {{ .Render "summary" }}
        </li>
        {{ end -}}
    </ul>
    {{ if gt (len $stories) 7 }}
    <div class="utl-text-center">
        <a class="button" href="{{ (.Site.GetPage "/story").Permalink }}">
            Read more stories
            <span class="icon">↓</span>
        </a>
    </div>
    {{ end }}
</main>
<a id="book-sherpa" href="{{ relref . "one-day-book" }}">
    <img src="{{ "/img/book-sherpa.png" | relURL }}">
</a>
{{ end }}
